html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
header > div {
  color: #fff;
  font-weight: initial;
  background-color: #081C3E;
  display: flex;
  align-items: flex-end;
  padding: 10px;
}
header > div h1 {
  margin-left: 30%;
  font-weight: lighter;
}
header > div select {
  margin-bottom: 5px;
}
main .summary {
  background-color: #D3D3D3;
  text-align: center;
  overflow-wrap: break-word;
  padding: 20px;
}
main .summary img {
  padding-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 50%;
}
main .summary ul {
  list-style: none;
}
main .summary label {
  font-weight: bold;
  background-position-x: initial;
}
main > .maincontent {
  padding-left: 30px;
  padding-right: 50px;
}
main > .maincontent h2 {
  padding-left: 10px;
}
main > .maincontent h3,
main > .maincontent p {
  padding-left: 20px;
}
main > .maincontent h3 {
  font-weight: normal;
}
@media (min-width: 600px) {
  header > div {
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    align-items: center;
  }
  main {
    display: flex;
  }
  main .summary {
    text-align: initial;
  }
  main .summary ul {
    margin: 0px;
    padding: 0px;
  }
}
@media (min-width: 930px) {
  html > body {
    background-color: #D3D3D3;
  }
  main .summary {
    height: 500px;
  }
  main .summary,
  main .maincontent {
    padding-bottom: 20px;
    box-shadow: 4px 4px 8px #000000, 4px 6px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 20px;
    background-color: #FFF;
  }
  main .education {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
}
