<header>
    <div>
        <h1>Hussein Saad</h1>
        <div class="cloudtranslation-selectioncontainer">
            <select class="cloudtranslation-selection"></select>
        </div>
    </div>

</header>
<main>
    <section class="summary">
        <img class="summary-image" src="~/image/image.jpg" />
        <div>
            <ul>
                <li>
                    <label>E-mail:</label>
                    <span>Husseinsaad98@gmail.com hi</span>
                </li>
                <li>
                    <label>Phone number:</label>
                    <span>70736859</span>
                </li>
                <li>
                    <label>Addres:</label>
                    <span>Beirut, Haret Hreik, Baabda District</span>
                </li>
            </ul>
        </div>
    </section>
    <section class="maincontent">
        <div>
            <h2>PROFILE</h2>
            <p>I am an enterprising young professional intending to continue my development in the field of IT I think in terms of results and objectives, I am enthusiastic, I am a fast learner and put all my effort to have my job done in the best possible way. I am currently looking for an internship in my field. With several years of working gained experience in customer services and business operation and managing inventory.</p>
        </div>
        <div>
            <h2>TECHNICAL SKILLS</h2>

            <ul>
                <li>Basic skills in Back-end Web development after learning PHP using Laravel Framework.</li>
                <li>Learned C# programing language using Unity Game Engine.</li>
                <li>Experience in MySQL Command Line.</li>
                <li>Familiar with Android Studio GUI (JAVA).</li>
            </ul>

        </div>
        <div>
            <h2>PROJECTS</h2>
            <div>
                <h3>Unity Game Engine</h3>
                <p>Recently since the pandemic occurred I have been working on Unity Game Engine developing games using C# Programing Language nothing yet has been published I have one unfinished project. Another project will be in development soon I will be making sure it’s a fully developed game ready to be published.</p>
            </div>
            <div>
                <h3>LWAH Graduation Project</h3>
                <p>A program made to facilitate Lebanese Welfare Association for the Handicapped work. Programed with vb.net programing language.</p>
            </div>
        </div>
        <div>
            <h2>CAREER SUMMARY</h2>
            <h3>June 2017 present Safa trading company, Team leader</h3>
            <ul>
                <li>Manage and lead a team of employees.</li>
                <li>Manages inventories and stock, including keeping detailed records of inventory use and sales, and advising management on ordering where necessary.</li>
                <li>Generates and shares comprehensive and detailed reports about team performance, mission-related objectives.</li>
                <li>Customer enquiries, and effectively handling customer complaints.</li>
                <li>Provides encouragement to team members, including communicating team goals.</li>
            </ul>
        </div>
        <h2>EDUCATION</h2>
        <div class="education">

            <div>
                <h3>BT, Information Technology</h3>
                <p>Al Afak Institute 2014-2015-2016</p>
                <ul>
                    <li>C Language</li>
                    <li>Access Database</li>
                    <li>HTML</li>
                    <li>Network</li>
                    <li>Maintenance</li>
                    <li>Dsigital Logic</li>
                </ul>

            </div>
            <div>
                <h3>TS, Administrative Informatics</h3>
                <p>Al Afak Institute, 2017-2018</p>
                <ul>
                    <li>Java</li>
                    <li>Html5+CSS+Javascript</li>
                    <li>SQL</li>
                    <li>Merise(Project Managment)</li>
                    <li>Network</li>
                    <li>Vb.net</li>
                    <li>Linux</li>
                    <li>Windows server 2003</li>
                </ul>

            </div>
        </div>
    </section>

</main>
<footer></footer>

